<div class="input-group input-group-sm mb-3">

    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-expanded="false">
            Filters
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </div>

    <input type="text" class="form-control" aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-default" placeholder="Enter your search here">
    <!-- <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">Default</span>
    </div> -->
    <button (click)="clickSearch()" type="button" class="btn btn-primary">Search</button>



</div>

<hr>

<ul class="list-group">
    
    <li class="list-group-item" *ngFor="let lists of list">
        <div class="row">
            {{lists.id}}
            <div class="col-xl-2">
                <img src="{{lists.url}}" alt="house" style="width: 100px; height: 100px" />
            </div>
            <div class="col-lg-10">
                <p>Location: {{lists.location}}</p>
                <p>Price: {{lists.price | currency}}</p> 
            </div>
            
        </div>
        <form>
        <!-- <a class="btn btn-primary" routerLink="/edit" href="#">Edit Listings</a> -->
        <button (click)="onClick(lists.id)" class="btn btn-primary">Edit</button>
    </form>
    </li>
</ul>
